/*Definições gerais*/
body{
    margin: 0;
    padding: 0;
}

/*logo e nome do site*/
#nome_logo {
    display: inline;
}



/*Barra de navegação*/

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #399a3e;

  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #60df10;
  }
}